<template>
  <v-container fluid class="home">
    <v-row>
      <v-col cols="12" xs="6" md="5" lg="3">
        <AddEvent/>
      </v-col>
      <v-col cols="12" xs="6" md="7" lg="9">
        <Calendar/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Calendar from '../components/Calendar'
import AddEvent from '../components/AddEvent'

export default {
  name: 'Home',
  components: {
    Calendar,
    AddEvent
  }
}
</script>

<style>

</style>
