.home {
  padding: 0 !important;
}

.add-events,
.calendar {
  padding: 30px;
}

.add-events {
  background: #E0E0E0;
  -webkit-box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, 0.2);
  margin-top: -12px;
  overflow: hidden;
  height: calc(100vh - 50px);

  @media screen  and (max-width: 960px) {
    height: auto;
  }

  .v-messages__message {
    text-align: right;
  }

  .v-input--selection-controls {
    margin-top: 0 !important;
  }

  .layout.row.wrap {
    padding: 0 0 10px 10px;
  }

  .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
    margin-bottom: 0;
  }

  .v-divider {
    border-color: rgba(0, 0, 0, 0.4) !important;
  }

  button {
    min-width: 100px !important;

    @media screen  and (max-width: 1600px) {
      min-width: 100% !important;
    }

    @media screen  and (max-width: 1264px) {
      min-width: 100px !important;
    }
  }
}
