<template>
  <v-app>
    <app-navigation/>

    <v-content transition="slide-x-transition">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation'

export default {
  name: 'App',
  components: {
    AppNavigation
  }
}
</script>

<style lang="scss">
  @import './assets/scss/app.scss';
</style>
