<template>
  <div class="add-events">
    <div class="title pb-5 text-uppercase">Add Event</div>
      <v-form
        ref="form"
        v-model="valid"
        :lazy-validation="lazy"
      >

      <v-text-field
        v-model="eventName"
        :rules="rules"
        label="Event Name"
        required
      ></v-text-field>

      <v-menu
        ref="startDateMenu"
        v-model="startDateMenu"
        :close-on-content-click="true"
        :return-value.sync="startDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="startDate"
            :rules="rules"
            label="From"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="startDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="startDateMenu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.startDateMenu.save(startDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

      <v-menu
        ref="endDateMenu"
        v-model="endDateMenu"
        :close-on-content-click="true"
        :return-value.sync="endDate"
        transition="scale-transition"
        offset-y
        min-width="290px">
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="endDate"
            :rules="rules"
            label="To"
            v-on="on"/>
        </template>
        <v-date-picker v-model="endDate" no-title scrollable>
          <v-spacer/>
          <v-btn text color="primary" @click="endDateMenu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.endDateMenu.save(endDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

      <v-layout row wrap>
        <v-flex v-for="(day,index) in days" :key="days[index].text" xs6 sm4 md4 lg6>
          <v-checkbox light :label="day.text" v-model="day.selected" :rules="daysRules" color="blue darken-1">
          </v-checkbox>
        </v-flex>
      </v-layout>

      <v-divider class="pt-5"/>

      <v-btn
        color="error"
        class="ml-4 mb-5 float-right"
        @click="reset">
        Cancel
      </v-btn>

      <v-btn
        :disabled="!valid"
        color="success"
        class="ml-4 mb-5 float-right"
        @click="save">
        Save
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { formatDate, getEventDaysArray } from '../utils/calendar-utils'

export default {
  el: '',
  data: () => ({
    valid: true,
    eventId: undefined,
    eventName: '',
    rules: [
      v => !!v || 'Required'
    ],
    daysRules: [
      v => !!v
    ],
    startDate: '',
    startDateMenu: false,
    endDate: '',
    endDateMenu: false,
    days: [
      { text: 'Monday', value: 1, selected: false },
      { text: 'Tuesday', value: 2, selected: false },
      { text: 'Wednesday', value: 3, selected: false },
      { text: 'Thursday', value: 4, selected: false },
      { text: 'Friday', value: 5, selected: false },
      { text: 'Saturday', value: 6, selected: false },
      { text: 'Sunday', value: 7, selected: false }
    ],
    checkbox: false,
    lazy: false
  }),
  computed: mapState(['event']),
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    },
    event (newEvt) {
      if (!newEvt) {
        return
      }

      this.eventId = newEvt.id
      this.eventName = newEvt.name
      this.startDate = formatDate(new Date(newEvt.start_date))
      this.endDate = formatDate(new Date(newEvt.end_date))

      // days of week in the api is base-1 starting from monday
      // while in JS, its base-0 starting from sunday
      const evtDays = getEventDaysArray(newEvt).map(d => d === 0 ? 7 : d)
      this.days.forEach(d => { d.selected = evtDays.indexOf(d.value) >= 0 })
    }
  },
  methods: {
    save () {
      if (!this.$refs.form.validate()) {
        return
      }
      const { eventId, eventName, startDate, endDate, days } = this
      const schedules = days
        .filter(d => d.selected)
        .map(d => { return { day_of_week: d.value } })

      this.$store.dispatch('save', {
        id: eventId,
        name: eventName,
        start_date: startDate,
        end_date: endDate,
        schedules
      })

      this.reset()
    },
    reset () {
      this.$refs.form.reset()
      this.eventId = undefined
      this.$store.commit('setSelected', undefined)
    }
  }
}
</script>
